:root {
  --max-width: 1100px;
  --primary-colour: #414040;
  --light-grey: #b0b0b0;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

/********** Nav Component **********/
.main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--primary-colour);
  color: whitesmoke;
  padding-left: 20px;
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-colour);
  overflow-x: hidden;
}
.main-navigation a {
  color: white;
  text-decoration: none;
}
.main-navigation .nav-top-section {
  margin-top: 40px;
}
.main-navigation .nav-btn-container {
  margin-bottom: 40px;
  display: flex;
}
.main-navigation .nav-top-section ul {
  margin-top: 60px;
}
.main-navigation h1 {
  margin: 0;
  font-size: 2rem;
}
.main-navigation ul {
  padding: 0;
  padding-inline-start: 0;
}
.main-navigation li {
  margin-top: 40px;
  display: flex;
}
.main-navigation li .span {
  margin-left: 20px;
  align-self: center;
}

.main-navigation .react-icons path {
  stroke: white;
}
.nav-child {
  margin-left: 240px;
}
.primary-button {
  position: relative;
  padding: 5px 8px;
  background-color: white;
  border: none;
  color: #414040;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 10px;
}

/********** Forms ***********/
.fullscreen-form-container {
  z-index: 1;
  position: fixed;
  max-width: 100%;
  max-height: 100vh;
  top: 0;
  bottom: 0;
  left: 260px;
  right: 0;
  background-color: var(--light-grey);
}
.center-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-container {
  background-color: white;
}

/* edit profile form */
.edit-profile-form {
  text-align: left;
}
.edit-profile-form .close-icon {
  text-align: right;
  margin-bottom: 20px;
}
.change-profile-pic-button {
  display: none;
}
.edit-profile-form .type-file {
  margin-top: 8px;
}
.edit-profile-form .form-file-input-wrapper {
  padding-bottom: 20px;
}
.upload-photo-btn {
  display: none;
}
/* FORMS END */

/********** AuthModal ***********/
.auth-modal {
  position: absolute;
  top: 100px;
  left: 260px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 330px;
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  border: 1px solid var(--primary-colour);
}
